<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Resource Server</h1>
        <h2>API</h2>
        <span>GET /data/$dataName/</span>
        <p>get $dataName dataset</p>
        <span>GET /data/$dataName/description</span>
        <p>get $dataName dataset description json</p>
        <h2>Example</h2>
        <span>stat dataset</span>
        <ul>
            <li><a href="/data/stat/">stat dataset</a></li>
            <li><a href="/data/stat/description">stat dataset description</a></li>
        </ul>
    </body>
</html>